<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<title>ComPAD</title>

	<link rel="stylesheet" type="text/css" media="screen" href="/src/css/styles.css" />

	<!-- Load Libraries -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
	<script type="text/javascript" src="/lib/HighchartsAdapter.js"></script>
	<script type="text/javascript" src="http://code.highcharts.com/highcharts.src.js"></script>

	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Load App -->
	<script type="text/javascript" src="src/js/app.js"></script>
</head>
<body ng-app="App" ng-controller="Main">
	<div class="monster-search">
		<input class="search" type="text" ng-model="store.search" placeholder="Search: Enter a Monstername...">

		<ul class="monster-list" ng-show="store.search.length >= 3">
			<li ng-repeat="monster in store.monsters | filter:store.search | limitTo: 10">
				<img ng-src="http://www.padherder.com{{monster.image60_href}}">
				<span class="monster-name">{{monster.name}}</span>
				<span class="btn" ng-click="addMonster(monster)">add</span>
			</li>
		</ul>
	</div>

	<div class="monster-box">
		<h2 class="narrow">Monster List ({{store.selected.length}})</h2>
		<p class="narrow"ng-hide="store.selected.length > 0">
			Use the search to find monsters to add to your comparision.
		</p>
		<ul class="monster-list" ng-show="store.selected.length > 0">
			<li ng-repeat="monster in store.selected">
				<img ng-src="http://www.padherder.com{{monster.image60_href}}">
				<span class="monster-name">{{monster.name}}</span>
				<span class="btn" ng-click="delMonster(monster)">del</span>
			</li>
		</ul>
	</div>

	<div class="graph-section" ng-show="store.selected.length > 0">
		<h2 class="narrow">Statistics</h2>
		<span class="graph-container">
			<h3>ATK</h3>
			<monster-graph monsters="store.selected" stat="atk"></monster-graph>
		</span>

		<span class="graph-container">
			<h3>HP</h3>
			<monster-graph monsters="store.selected" stat="hp"></monster-graph>
		</span>

		<span class="graph-container">
			<h3>RCV</h3>
			<monster-graph monsters="store.selected" stat="rcv"></monster-graph>
		</span>
	</div>
</body>
</html>
